@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.button {
    &__header {
        @include button-default;
        width: 100%;
        
        &--active {
            background-color: $black;
            color: $white;
        }
        
        &--inactive {
            background-color: transparent;
            color: $cloud;
        }
    }

    @include desktop {
        &__header {
            width: 10rem;
        }
    }

}