@use "./variables" as *;

@mixin tablet {
    @media (min-width: $tablet-breakpoint) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop-breakpoint) {
        @content;
    }
}

@mixin button-default {
    padding: 0 1rem;
    border-radius: 20px;
    border: none;
    height: 2.25rem;
}