@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.stock-tag {
    height: 1.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 1.25rem;
    display: inline-block;

    @include tablet {
        height: 1.625rem;
    }

    &--in {
        background-color: rgba($color: $green, $alpha: 7%);
    }

}

&__tag {
    height: 1.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: rgba($color: $green, $alpha: 7%);
    color: $green;
    border-radius: 1.25rem;
    display: inline-block;

    @include tablet {
        height: 1.625rem;
    }
}

&__stock {
    color: $green; // Remember to bold this later
}