@use "../src/styles/partials/global.scss" as *;
@use "../src/styles/partials/mixins.scss" as *;
@use "../src/styles/partials/typography.scss" as *;
@use "../src/styles/partials/variables.scss" as *;


.inventory {
    &__container {
        border: 1px solid transparent;
    }

    &__container-upper-mobile {
        border: 1px solid transparent;
        display: flex;
    }

    &__container-middle-mobile {
        border: 1px solid orange;
        display: flex;
    }

    &__container-bottom-mobile {
        border: 1px solid transparent;
        display: flex;
    }

    &__inventory-menu {
        text-transform: uppercase;
        @include tablet {
            display: none;
        }

        @include desktop {
            display: none;
        }
    }

    &__inventory-item {
        color: $indigo;
        font-weight: 800;
    }


}

.in-stock-tag, .out-of-stock-tag {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
  }
  
  .in-stock-tag {    
    background-color: rgba(21, 132, 99, 0.07);
    color: #158463;
  }
  
  .out-of-stock-tag {
    background-color: rgba(201, 69, 21, 0.07);
    color: #C94515;
  }