@use "../src/styles/partials/mixins.scss" as *;
@use "../src/styles/partials/variables.scss" as *;
@use "../src/styles/partials/typography.scss" as *;

.inventory {
  &__container {
    border-bottom: 1px solid $cloud;
    background-color: $white;
    position: relative;
    top: -2.5rem;
    width: 90%;
    left: 5%;
    box-shadow: 2px 2px rgba($color: $cloud, $alpha: 0.1),
      1px 1px rgba($color: $cloud, $alpha: 0.2),
      -2px 2px rgba($color: $cloud, $alpha: 0.1),
      -1px 1px rgba($color: $cloud, $alpha: 0.2);
    border-radius: 5px;

    @include tablet {
      top: -4.5rem;
    }
    @include desktop {
      top: -5.5rem;
    }
  }

  &__hide-mobile {
    display: none;

    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: $grey;
      border-bottom: none;
      padding-right: 2rem;
      height: 2rem;
      align-items: center;
    }
  }

  &__outer {
    border: 1px solid transparent;

    @include tablet {
      border: 1px solid transparent;      
    }
  }

  &__container-column {
    padding-left: 2rem;
    padding-right: 2rem;
    border-bottom: 1px solid $cloud;

    @include tablet {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 6rem;
      width: 100%;
    }

    &:hover {
      background-color: $grey;
    }
  }

  &__outer-wrapper {
    display: flex;
    flex-direction: row;
    height: 6.5rem;

    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      padding-top: 0;
      height: auto;
      width: 100%;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    height: 6rem;
    width: 100%;

    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      height: 3rem;
    }
  }

  &__wrap {
    padding-top: 1rem;
    width: 100%;

    @include tablet {
      padding-top: 0;
    }
  }

  &__wrapper-bottom-mobile {
    height: 4rem;

    @include tablet {
      width: 20vw;
      display: flex;
      justify-content: center;
      height: 3rem;
    }
  }

  &__wrapper-zero {

    @include tablet {
      display: none;
    }
  }

  &__item-chevron {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    @include tablet {
      justify-content: flex-start;
      width: 100%;
    }
  }

  &__inventory-item-name {
    color: $indigo;
    font-weight: 500;
  }

  &__chevron {
    margin: 0;
    padding: 0;

    @include tablet {
      margin: 0;
      padding: 0;
    }
  }

  &__inventory-menu {
    text-transform: uppercase;
  }

  &__inventory-category {
    @include tablet {
      padding-left: 1.7rem;
    }
  }

  &__inventory-menu-item {
    padding-left: 2rem;
  }

  &__container-inventory-items {
    @include tablet {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    @include desktop {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  &__inventory-item {
    color: $indigo;
    font-weight: 800;
  }

  &__actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1rem;

    @include tablet {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: auto;
      padding-bottom: 0;
    }
    @include desktop {
      display: flex;
      align-items: center;
      padding-bottom: 0;
    }
  }

  &__item {
    font-weight: 400;
  }

  &__mobile {
    @include tablet {
      display: none;
    }
    @include desktop {
      display: none;
    }
  }

  &__hide {
    display: none;
  }

  &__separator {
    height: 1px;
    width: 100%;
    background-color: $cloud;
  }
}

.in-stock-tag,
.out-of-stock-tag {
  display: inline-block;
  padding: 0.2rem 0.2rem;
  border-radius: 1.3rem;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;

  @include tablet {
    margin-left: 1rem;
  }
}

.in-stock-tag {
  background-color: rgba(21, 132, 99, 0.07);
  color: #158463;
  width: 4rem;
  text-align: center;
}

.out-of-stock-tag {
  background-color: rgba(201, 69, 21, 0.07);
  color: #c94515;
  width: 5.5rem;
  text-align: center;
}
